<ng-container *ngIf="flightsByActiveDay?.flights?.length !== 0">
  <div class="flight__container" *ngFor="let flight of flightsByActiveDay?.flights">
    <div class="flight__info-block">
      <div class="flight__from">
        <h3>{{flight.departureFrom.city + ' ' + flight.departureFrom.IATA}}</h3>
        <p>{{flight.departureDate | date}}</p>
      </div>
      <div class="flight__to">
        <h3>{{flight.destinationTo.city + ' ' + flight.destinationTo.IATA}}</h3>
        <p>{{flight.destinationDate | date}}</p>
      </div>
    </div>
    <div class="flight__price-block">
      <h3>{{'Price: ' + flight.price}}</h3>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="flightsByActiveDay?.flights?.length === 0">
  <div class="flight__message">Flights not found</div>
</ng-container>