.carousel {
  &__list {
    width: 100%;
    height: 83px;
    display: flex;
    gap: 2px;
  }

  &__item {
    all: unset;
    cursor: pointer;
    box-sizing: border-box;
    width: 100%;
    height: 70px;
    border: 1px solid grey;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__notfly {
    width: 24px;
    height: 24px;
    background-image: url(../../../../assets/svg/donotfly_24px.svg);
  }
}