<owl-carousel-o class="carousel" [options]="customOptions">
  <!-- (initialized)="getData($event)" (translated)="getPassedData($event)" (dragging)="startDragging($event.dragging)" -->
  <ng-container *ngFor="let item of foundFlightsWithDate">
    <ng-template carouselSlide >
      <button [ngClass]="item.day === selectedDay ? 'carousel__item active' : 'carousel__item'" [id]="item.day" (click)="getFlightDay($event)">
        <div>{{item.day | date : 'dd MMM'}}</div>
        <div>{{item.day | date : 'EEEE'}}</div>
        <div *ngIf="item.flights && item.flights.length !== 0">{{item.flights[0].price}}</div>
        <div *ngIf="item.flights && item.flights.length === 0" class="carousel__notfly"></div>
      </button>
    </ng-template>
  </ng-container>
</owl-carousel-o>