<div class="not-found-container container">
  <div class="error-number-container">
    <span class="error-number">4</span>
    <span class="not-found__icon-container">
      <svg class="rotate not-found__icon">
        <use xlink:href="assets/icons/sprite.svg#not-found-page-icon"></use>
      </svg>
    </span>
    <span class="error-number">4</span>
  </div>
  <h2 class="subtitle">Page not found</h2>
  <h3>The page you are looking for may have been moved, deleted, or possibly never existed</h3>
  <button mat-raised-button color="primary" routerLink="">Go to the home page</button>
</div>

