<form [formGroup]="searchForm" [ngClass]="isSearchPage ? 'search__form' : 'selection__form'" (ngSubmit)="submitForm()">

  <div class="form__control">
    <mat-radio-group aria-label="Select an option" formControlName="isRoundTrip" (change)="onSelectedIsRoundTrip()">
      <mat-radio-button color="primary" [value]="true">Round Trip</mat-radio-button>
      <mat-radio-button color="primary" [value]="false">One Way</mat-radio-button>
    </mat-radio-group>
  </div>

  <form [ngClass]="isSearchPage ? 'form__directions' : 'form__directions_selection'" formGroupName="directions">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Departure</mat-label>
      <input matInput placeholder="From" formControlName="departureFrom" [matAutocomplete]="from" type="text" >
      <mat-autocomplete #from="matAutocomplete" [displayWith]="displayAirport" (optionSelected)="onSelectedDirections()">
        <mat-option *ngFor="let airportFrom of filteredAirportsFrom | async" [value]="airportFrom">
          <div class="airport__info"><span>{{airportFrom.city}}</span><span> ({{airportFrom.IATA}})</span> </div>
          <div class="airport__subinfo"><span>{{airportFrom.name}}</span><span> {{airportFrom.country}}</span></div>
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="searchForm.get('directions')?.get('departureFrom')?.hasError('required')">
        Please select from
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Destination</mat-label>
      <input matInput placeholder="To" formControlName="destinationTo" [matAutocomplete]="to" type="text">
      <mat-autocomplete #to="matAutocomplete" [displayWith]="displayAirport" (optionSelected)="onSelectedDirections()">
        <mat-option *ngFor="let airportTo of filteredAirportsTo | async" [value]="airportTo">
          <div class="airport__info"><span>{{airportTo.city}}</span><span> ({{airportTo.IATA}})</span> </div>
          <div class="airport__subinfo"><span>{{airportTo.name}}</span><span> {{airportTo.country}}</span></div>
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="searchForm.get('directions')?.get('destinationTo')?.hasError('required')">
        Please select destination
      </mat-error>
    </mat-form-field>

    <mat-error class="form__directions_error" *ngIf="searchForm.get('directions')?.hasError('sameDirectionsValidator')">
      Please choose different airports
    </mat-error>

    <button *ngIf="isSearchPage" mat-mini-fab class="form__directions_btn" color="primary" type="button"
      (click)="swapDirections()"><mat-icon>sync_alt</mat-icon></button>
  </form>

  <div [ngClass]="isSearchPage ? 'form__control' : 'form__control_selection'">
    <mat-form-field class="dates__form" *ngIf="searchForm.get('isRoundTrip')?.value" appearance="fill">
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input matDateRangeInput [rangePicker]="picker" formGroupName="range" [dateFilter]="unavailableDate">
        <input matStartDate formControlName="start" placeholder="Start date" (dateChange)="onSelectedRange()">
        <input matEndDate formControlName="end" placeholder="End date" (dateChange)="onSelectedRange()">
        <!--  -->
      </mat-date-range-input>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
      <mat-error
        *ngIf="searchForm.get('range')?.get('start')?.hasError('required') || searchForm.get('range')?.get('end')?.hasError('required') ">
        Please select dates
      </mat-error>
      <mat-error *ngIf="searchForm.get('range')?.get('start')?.hasError('matStartDateInvalid')">Invalid start
        date</mat-error>
      <mat-error *ngIf="searchForm.get('range')?.get('end')?.hasError('matEndDateInvalid')">Invalid end date</mat-error>
    </mat-form-field>

    <mat-form-field class="dates__form" *ngIf="!searchForm.get('isRoundTrip')?.value" appearance="fill">
      <mat-label>Enter a date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date" [matDatepickerFilter]="unavailableDate" (dateChange)="onSelectedDate()">
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="searchForm.get('date')?.hasError('required')">Please enter a date</mat-error>
    </mat-form-field>

    <div class="passengers__form">
      <mat-form-field class="example-full-width" (click)="visibleCounter()">
        <mat-label>Passengers</mat-label>
        <input class="passengers__info" matInput readonly [value]="getCountPassengers()" >
        <mat-icon class="passengers__btn" color="primary">arrow_drop_down</mat-icon>
      </mat-form-field>

      <div *ngIf="isVisibleCounter" formGroupName="passengers" class="passengers__options">
        <div class="passengers__option">
          <div class="option__info">
            <span class="option__name">Adult</span>
            <span class="option__age">14+ years</span>
          </div>
          <div class="option__counter">
            <button class="option__counter_btn" type="button"
              (click)="decrement('adult')"><mat-icon>remove</mat-icon></button>
            <input class="option__count" type="text" readonly formControlName="adult">
            <button class="option__counter_btn" type="button"
              (click)="increment('adult')"><mat-icon>add</mat-icon></button>
          </div>
        </div>

        <div class="passengers__option">
          <div class="option__info">
            <span class="option__name">Child</span>
            <span class="option__age">2-14 years</span>
          </div>
          <div class="option__counter">
            <button class="option__counter_btn" type="button"
              (click)="decrement('child')"><mat-icon>remove</mat-icon></button>
            <input class="option__count" type="text" readonly formControlName="child">
            <button class="option__counter_btn" type="button"
              (click)="increment('child')"><mat-icon>add</mat-icon></button>
          </div>
        </div>

        <div class="passengers__option">
          <div class="option__info">
            <span class="option__name">Infant</span>
            <span class="option__age">0-2 years</span>
          </div>
          <div class="option__counter">
            <button class="option__counter_btn" type="button"
              (click)="decrement('infant')"><mat-icon>remove</mat-icon></button>
            <input class="option__count" type="text" readonly formControlName="infant">
            <button class="option__counter_btn" type="button"
              (click)="increment('infant')"><mat-icon>add</mat-icon></button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="isSearchPage" class="form__control">
    <button class="form__btn" mat-raised-button color="primary" type="submit"
      [disabled]="isFormInvalid()">Search</button>
  </div>
</form>
