<form [formGroup]="passengerForm" (submit)="onSubmit()" class="passenger-form">
  <div class="pass-form-title-wrapper">
    <mat-icon svgIcon="pass-icon"></mat-icon>
    <h2 class="pass-form-title">Passengers</h2>
  </div>
  <p class="pass-form-description">Enter the passenger's names as they appear on document (passport or ID).</p>

  <div class="pass-form-item-container" *ngIf="adult.controls.length">
    <div class="pass-form-item">
      <h3 class="pass-form-item-title">Adult</h3>
      <div class="pass-form-item-content" formArrayName="adult" *ngFor="let item of adult.controls; let i = index">
        <div class="passenger-form-upper" [formGroupName]="i">
          <mat-form-field class="first-name-field">
            <mat-label>First name</mat-label>
            <input matInput type="text" formControlName="firstName">
            <mat-icon matSuffix>info_edit</mat-icon>
            <mat-error *ngIf="this.adult.controls[i]?.get('firstName')?.hasError('required')">
              {{  errorMessages.authForm.firstName.required }}
            </mat-error>
            <mat-error *ngIf="this.adult.controls[i]?.get('firstName')?.hasError('pattern')">
              {{  errorMessages.passengersForm.firstName.pattern }}
            </mat-error>
          </mat-form-field>

          <mat-form-field class="last-name-field">
            <mat-label>Last name</mat-label>
            <input matInput type="text" formControlName="lastName">
            <mat-icon matSuffix>info_edit</mat-icon>
            <mat-error *ngIf="this.adult.controls[i]?.get('lastName')?.hasError('required')">
              {{  errorMessages.authForm.lastName.required }}
            </mat-error>
            <mat-error *ngIf="this.adult.controls[i]?.get('lastName')?.hasError('pattern')">
              {{  errorMessages.authForm.lastName.pattern }}
            </mat-error>
          </mat-form-field>

          <mat-button-toggle-group formControlName="gender" class="gender-name-field">
            <mat-button-toggle value="Male">Male</mat-button-toggle>
            <mat-button-toggle value="Female">Female</mat-button-toggle>
          </mat-button-toggle-group>

          <mat-form-field class="date-name-field">
            <mat-label>Date of birth</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="dateOfBirth">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="this.adult.controls[i]?.get('dateOfBirth')?.hasError('required')">
              {{ errorMessages.authForm.dateOfBirth.required }}
            </mat-error>
            <mat-error *ngIf="this.adult.controls[i]?.get('dateOfBirth')?.hasError(customErrors.ValidDate)">
              {{ errorMessages.authForm.dateOfBirth.validDate }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="passenger-form-lower" [formGroupName]="i">
          <mat-slide-toggle formControlName="isNeedAssistance"></mat-slide-toggle>
          <mat-icon svgIcon="pass-assistance" class="passenger-assistance-svg"></mat-icon>
          <span class="passenger-assistance-title">Need special assistance?</span>
        </div>
      </div>
    </div>
  </div>

  <div class="pass-form-item-container" *ngIf="child.controls.length">
    <div class="pass-form-item">
      <h3 class="pass-form-item-title">Child</h3>
    <div class="pass-form-item-content" formArrayName="child" *ngFor="let item of child.controls; let i = index">
      <div class="passenger-form-upper"[formGroupName]="i">
        <mat-form-field class="first-name-field">
          <mat-label>First name</mat-label>
          <input matInput type="text" formControlName="firstName">
          <mat-icon matSuffix>info_edit</mat-icon>
          <mat-error *ngIf="child.controls[i]?.get('firstName')?.hasError('required')">
            {{  errorMessages.authForm.firstName.required }}
          </mat-error>
          <mat-error *ngIf="this.child.controls[i]?.get('firstName')?.hasError('pattern')">
            {{  errorMessages.passengersForm.firstName.pattern }}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="last-name-field">
          <mat-label>Last name</mat-label>
          <input matInput type="text" formControlName="lastName">
          <mat-icon matSuffix>info_edit</mat-icon>
          <mat-error *ngIf="this.child.controls[i]?.get('lastName')?.hasError('required')">
            {{  errorMessages.authForm.lastName.required }}
          </mat-error>
          <mat-error *ngIf="this.child.controls[i]?.get('lastName')?.hasError('pattern')">
            {{  errorMessages.authForm.lastName.pattern }}
          </mat-error>
        </mat-form-field>

        <mat-button-toggle-group formControlName="gender" class="gender-name-field">
          <mat-button-toggle value="Male">Male</mat-button-toggle>
          <mat-button-toggle value="Female">Female</mat-button-toggle>
        </mat-button-toggle-group>

        <mat-form-field class="date-name-field">
          <mat-label>Date of birth</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="dateOfBirth">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="this.child.controls[i]?.get('dateOfBirth')?.hasError('required')">
            {{ errorMessages.authForm.dateOfBirth.required }}
          </mat-error>
          <mat-error *ngIf="this.child.controls[i]?.get('dateOfBirth')?.hasError(customErrors.ValidDate)">
            {{ errorMessages.authForm.dateOfBirth.validDate }}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="passenger-form-lower" [formGroupName]="i">
        <mat-slide-toggle formControlName="isNeedAssistance"></mat-slide-toggle>
        <mat-icon svgIcon="pass-assistance" class="passenger-assistance-svg"></mat-icon>
        <span class="passenger-assistance-title">Need special assistance?</span>
      </div>
    </div>
    </div>
  </div>

  <div class="pass-form-item-container" *ngIf="infant.controls.length">
    <div class="pass-form-item">
      <h3 class="pass-form-item-title">Infant</h3>
      <div class="pass-form-item-content" formArrayName="infant" *ngFor="let item of infant.controls; let i = index">
        <div class="passenger-form-upper" [formGroupName]="i">
          <mat-form-field class="first-name-field">
            <mat-label>First name</mat-label>
            <input matInput type="text" formControlName="firstName">
            <mat-icon matSuffix>info_edit</mat-icon>
            <mat-error *ngIf="this.infant.controls[i]?.get('firstName')?.hasError('required')">
              {{  errorMessages.authForm.firstName.required }}
            </mat-error>
            <mat-error *ngIf="this.infant.controls[i]?.get('firstName')?.hasError('pattern')">
              {{  errorMessages.passengersForm.firstName.pattern }}
            </mat-error>
          </mat-form-field>

          <mat-form-field class="last-name-field">
            <mat-label>Last name</mat-label>
            <input matInput type="text" formControlName="lastName">
            <mat-icon matSuffix>info_edit</mat-icon>
            <mat-error *ngIf="this.infant.controls[i]?.get('lastName')?.hasError('required')">
              {{  errorMessages.authForm.lastName.required }}
            </mat-error>
            <mat-error *ngIf="this.infant.controls[i]?.get('lastName')?.hasError('pattern')">
              {{  errorMessages.authForm.lastName.pattern }}
            </mat-error>
          </mat-form-field>

          <mat-button-toggle-group formControlName="gender" class="gender-name-field">
            <mat-button-toggle value="Male">Male</mat-button-toggle>
            <mat-button-toggle value="Female">Female</mat-button-toggle>
          </mat-button-toggle-group>

          <mat-form-field class="date-name-field">
            <mat-label>Date of birth</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="dateOfBirth">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="this.infant.controls[i]?.get('dateOfBirth')?.hasError('required')">
              {{ errorMessages.authForm.dateOfBirth.required }}
            </mat-error>
            <mat-error *ngIf="this.infant.controls[i]?.get('dateOfBirth')?.hasError(customErrors.ValidDate)">
              {{ errorMessages.authForm.dateOfBirth.validDate }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="passenger-form-lower" [formGroupName]="i">
          <mat-slide-toggle formControlName="isNeedAssistance"></mat-slide-toggle>
          <mat-icon svgIcon="pass-assistance" class="passenger-assistance-svg"></mat-icon>
          <span class="passenger-assistance-title">Need special assistance?</span>
        </div>
      </div>
    </div>
  </div>

  <div class="pass-details-title-wrapper">
    <mat-icon svgIcon="pass-details"></mat-icon>
  <h2 class="pass-details-title">Contact details</h2>
  </div>
  <p class="pass-details-description">We need contact details to be able to deliver the latest information regarding your flight.</p>

  <div class="pass-form-item-container" formGroupName="contactDetails">
    <div class="pass-form-item pass-details-item">
      <mat-form-field class="country-field">
        <mat-label>Country code</mat-label>
          <mat-select formControlName="countryCode">
            <mat-option *ngFor="let code of COUNTRY_INFO" [value]="code.dial_code">
              {{ code.name }} ({{ code.dial_code }})
            </mat-option>
          </mat-select>
          <mat-error *ngIf="contactDetails.controls['countryCode'].hasError('required')">
            {{ errorMessages.authForm.countryCode.required}}
          </mat-error>
      </mat-form-field>

      <mat-form-field class="phone-field">
        <mat-label>Mobile phone number</mat-label>
        <input matInput formControlName="phoneNumber">
        <mat-error *ngIf="contactDetails.controls['phoneNumber'].hasError('required')">
          {{ errorMessages.authForm.phoneNumber.required }}
        </mat-error>
        <mat-error *ngIf="contactDetails.controls['phoneNumber'].hasError('pattern')">
          {{ errorMessages.authForm.phoneNumber.pattern }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="email-field">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
        <mat-error *ngIf="contactDetails.controls['email'].hasError('required')">
          {{ errorMessages.authForm.email.required }}
        </mat-error>
        <mat-error *ngIf="contactDetails.controls['email'].hasError('email')">
          {{ errorMessages.authForm.email.email }}
        </mat-error>
      </mat-form-field>
    </div>
  </div>

  <div class="booking-btn-wrapper" align="end">
    <button class="booking-btn" mat-button extended (click)="goBack()">Back</button>
    <button class="booking-btn" type="submit" mat-raised-button extended color="primary" [disabled]="passengerForm.invalid">Continue</button>
  </div>
</form>
