$desktop-width: 1128px;

$header-height: 88px;
$footer-height: 88px;

$color-primary-blue: #11397E;
$color-light-blue: #F1F3F6;
$color-gray: #74767A;
$color-primary-deep-blue: #10264C;
$color-secondary-blue: #0090BD;

$z-index-header: 2;
