@import '../../../../styles/abstracts/variables';

.slider-wrapper {
  position: relative;
}

.slider {
  display: grid;
  grid-template-columns: repeat($slides-all, calc(100%/$slides-visible-default));
  margin-bottom: 10px;
  height: 85px;
}

.slider_small {
  display: grid;
  grid-template-columns: repeat($slides-all, calc(100%/$slides-visible-small));
  margin-bottom: 10px;
  height: 85px;
}

.slide {
  border: none;
  background: #FFFFFF;
  border-left: 1px solid #CECECE;
  transition: transform .2s ease-in-out;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &:hover {
    transform: translateY(-10px);
  }

  &:disabled {
    cursor: not-allowed;

    .slide__date {
      color: #D0D9DF;
    }
  }
}

.slide__date {
  color: #0090BD;
  line-height: 20px;
}

.slide__weekday {
  color: #74767A;
}

.slide__price {
  color: $color-primary-blue;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}

.slide__price_handset {
  font-size: 12px;
  line-height: 12px;
}

.slide_active {
  border-bottom: 4px solid transparent;

  .slide__date {
    color: #11397E;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
  }

  .slide__weekday {
    font-size: 14px;
    line-height: 20px;
  }

  .slide__price {
    color: $color-primary-blue;
    font-size: 30px;
    line-height: 36px;
  }
}

.slide_active_handset {
  .slide__date {
    font-size: 1rem;
    line-height: 1rem;
  }

  .slide__weekday {
    font-size: 12px;
    line-height: 1rem;
  }

  .slide__price {
    font-size: 1rem;
    line-height: 1rem;
  }
}

.control {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  background: #E9EDF1;
  position: absolute;
  top: calc(50% - 12px);
}

.control__prev {
  left: 0;
}

.control__next {
  right: 0;
}
