<div class="slider-wrapper" *ngIf="flight && searchData">
  <div [ngClass]="{'slider': (layout.isSmall$ | async) === false, 'slider_small': (layout.isSmall$ | async)}"
  [@moveSlider]="getSliderMoveProps()"
  (@moveSlider.start)="onSlideMovingStart()"
  (@moveSlider.done)="onSlideMovingEnd()"
  >
    <button class="slide"
      *ngFor="let slide of slides"
      [ngClass]="{'slide_active': isActiveSlide(slide.flight.flightNumber), 'slide_active_handset': (layout.isHandset$ | async) && isActiveSlide(slide.flight.flightNumber)}"
      [appFlightAvailableSeats]="getFlightSeats(slide.flight)"
      [appFlightAvailableSeatsStyle]="'border-bottom-color'"
      [disabled]="!isValidDate(slide.flight.takeoffDate)"
      (click)="changeDepartureDate(slide.date)">
      <span class="slide__date">{{ slide.date | date:'d MMM' }}</span>
      <span class="slide__weekday">{{ slide.date | date:'EEEE' }}</span>
      <span class="slide__price" *ngIf="isValidDate(slide.flight.takeoffDate)" [ngClass]="{'slide__price_handset': layout.isHandset$ | async}">
        {{ slide.flight.price| currencyValue:(currency$ | async)! | currency:(currency$ | async)! : 'symbol-narrow' }}
      </span>
      <mat-icon svgIcon="no-flight" *ngIf="!isValidDate(slide.flight.takeoffDate)"></mat-icon>
    </button>
  </div>

  <button class="control control__prev" (click)="showPrevSlide()" [disabled]="isControlsDisabled">&LeftAngleBracket;</button>
  <button class="control control__next" (click)="showNextSlide()" [disabled]="isControlsDisabled">&RightAngleBracket;</button>
</div>
