@import '../../../../styles/abstracts/variables';

.header {
  position: fixed;
  height: $header-height;
  width: 100vw;
  display: flex;
  align-items: center;
  z-index: $z-index-header;
}

.header-container {
  min-width: $desktop-width;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  width: 130px;
  height: 40px;
}

.stepper {
  display: flex;
}
