<header class="header">
  <div class="container header-container">
    <a mat-button routerLink="">
      <svg class="header__logo">
        <use xlink:href="assets/icons/sprite.svg#logo"></use>
      </svg>
    </a>

    <app-stepper></app-stepper>

    <mat-form-field appearance="outline" class="header__currency-select">
      <mat-select [value]="dateFormat$ | async" (selectionChange)="onDateFormatChange($event)">
        <mat-option *ngFor="let dateFormat of dateFormats" [value]="dateFormat">
          {{ dateFormat }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="header__currency-select">
      <mat-select [value]="currency$ | async" (selectionChange)="onCurrencyChange($event)">
        <mat-option *ngFor="let currency of currencies" [value]="currency">
          {{ currency }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button *ngIf="(isAuth$ | async) === false" mat-stroked-button class="header__sign-in-button" (click)="openDialog()">
      <mat-icon>account_circle</mat-icon>
      Sign in
    </button>

    <button *ngIf="isAuth$ | async" mat-stroked-button class="header__user-account-button" routerLink="/booking/user">
      <mat-icon>account_circle</mat-icon>
      {{ username$ | async }}
    </button>

    <a mat-button routerLink="/booking/cart" class="header__shopping-cart-link">
      <mat-icon>shopping_cart</mat-icon>
    </a>

    <!-- Temporary logout button -->
    <button mat-raised-button (click)="logout()" color="warn">LOGOUT</button>
  </div>
</header>
