@import '../../../../styles/abstracts/variables';

.header {
  position: fixed;
  height: $header-height;
  width: 100vw;
  display: flex;
  align-items: center;
  z-index: $z-index-header;
}

.header-container {
  width: $desktop-width;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}

.header__logo-container {
  display: block;
  flex: 1;
}

.header__logo {
  width: 130px;
  height: 40px;
}

.stepper {
  display: flex;
}

.header__user-account-button {
  height: 56px;
}
