<header class="header">
  <div class="container header-container">
    <a mat-button routerLink="" class="header__logo-container">
      <svg class="header__logo">
        <use xlink:href="assets/icons/sprite.svg#logo"></use>
      </svg>
    </a>

    <app-stepper></app-stepper>

    <mat-form-field *ngIf="(layout.isSmall$ | async) === false" appearance="outline" class="header__date-format-select">
      <mat-select [value]="dateFormat$ | async" (selectionChange)="onDateFormatChange($event)">
        <mat-option *ngFor="let dateFormat of dateFormats" [value]="dateFormat">
          {{ dateFormat }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="(layout.isSmall$ | async) === false" appearance="outline" class="header__currency-select">
      <mat-select [value]="currency$ | async" (selectionChange)="onCurrencyChange($event)">
        <mat-option *ngFor="let currency of currencies" [value]="currency">
          {{ currency }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button *ngIf="(isAuth$ | async) === false" mat-stroked-button class="header__sign-in-button" (click)="openDialog()">
      <mat-icon svgIcon="user"></mat-icon>
      Sign in
    </button>

    <ng-container *ngIf="(isAuth$ | async) && (layout.isHandset$ | async) === false">
      <button mat-stroked-button class="header__user-account-button" routerLink="/booking/user">
        <mat-icon svgIcon="user"></mat-icon>
        {{ username$ | async }}
      </button>
    </ng-container>

    <ng-container *ngIf="(isAuth$ | async) && (layout.isHandset$ | async)">
      <button mat-icon-button class="header__user-account-button" routerLink="/booking/user">
        <mat-icon svgIcon="user"></mat-icon>
      </button>
    </ng-container>

    <a mat-icon-button routerLink="/booking/cart" class="header__shopping-cart-link">
      <mat-icon svgIcon="shopping_basket"></mat-icon>
    </a>

    <button *ngIf="layout.isSmall$ | async" mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-form-field appearance="outline" class="header__currency-select">
          <mat-select [value]="dateFormat$ | async" (selectionChange)="onDateFormatChange($event)">
            <mat-option *ngFor="let dateFormat of dateFormats" [value]="dateFormat">
              {{ dateFormat }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </button>

      <button mat-menu-item>
        <mat-form-field appearance="outline" class="header__currency-select">
          <mat-select [value]="currency$ | async" (selectionChange)="onCurrencyChange($event)">
            <mat-option *ngFor="let currency of currencies" [value]="currency">
              {{ currency }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </button>

    </mat-menu>
  </div>
</header>
