<div *ngIf="flight">
  <h2>{{ getFlightTitle() }}</h2>

  <app-calendar-carousel (selectDepartureDateEvent)="searchAvailableFlights($event)" [flight]="flight"></app-calendar-carousel>

  <div class="flight__container">
    <p>From: {{ searchData.from?.country }} {{ searchData.from?.name }}</p>
    <p>Take off: {{ flight.takeoffDate }}</p>

    <p>Minutes: {{ flight.timeMins }}</p>

    <p>To: {{ searchData.to?.country }} {{ searchData.to?.name }}</p>
    <p>Landing: {{ flight.landingDate }}</p>

    <p>Flight Number: {{ flight.flightNumber }}</p>

    <p [appFlightAvailableSeats]="flight.avaible">Seats available: {{ flight.avaible }}</p>

    <p>Price: {{ flight.price.eur }} EUR</p>

    <button mat-raised-button color="primary">Select</button>
  </div>
</div>

