  <mat-dialog-content [formGroup]="signUpForm" class="form">
    <div class="social-network-buttons">
      <button mat-stroked-button class="form__button" (click)="fillFormWithGoogle()">
        <mat-icon svgIcon="google"></mat-icon>
        Continue with Google
      </button>

      <button mat-stroked-button class="form__button" (click)="fillFormWithFacebook()">
        <mat-icon svgIcon="facebook"></mat-icon>
        Continue with Facebook
      </button>
    </div>

    <span class="line-outside">or sign up with your email</span>

    <form [formGroup]="signUpForm" class="form" (submit)="onSubmit()">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
        <mat-error *ngIf="signUpForm.controls['email'].hasError('required')">
          {{ errorsMessages.email.required }}
        </mat-error>
        <mat-error *ngIf="signUpForm.controls['email'].hasError('email')">
          {{ errorsMessages.email.email }}
        </mat-error>
      </mat-form-field>

      <mat-form-field [matTooltip]="getTooltipMessage()" matTooltipClass="form-control-tooltip">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" [type]="isPasswordHidden ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="isPasswordHidden = !isPasswordHidden" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="isPasswordHidden">
          <mat-icon>{{ isPasswordHidden ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-error *ngIf="signUpForm.controls['password'].hasError('required')">
          {{ errorsMessages.password.required }}
        </mat-error>
        <mat-error *ngIf="isPasswordErrors()">
          {{ errorsMessages.password.strong.inform }}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>First name</mat-label>
        <input matInput formControlName="firstName">
        <mat-error *ngIf="signUpForm.controls['firstName'].hasError('required')">
          {{  errorsMessages.firstName.required }}
        </mat-error>
        <mat-error *ngIf="signUpForm.controls['firstName'].hasError('pattern')">
          {{  errorsMessages.firstName.pattern }}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Last name</mat-label>
        <input matInput formControlName="lastName">
        <mat-error *ngIf="signUpForm.controls['lastName'].hasError('required')">
          {{  errorsMessages.lastName.required }}
        </mat-error>
        <mat-error *ngIf="signUpForm.controls['firstName'].hasError('pattern')">
          {{  errorsMessages.lastName.pattern }}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Date of birth</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="dateOfBirth">
        <mat-hint>{{ dateFormat$ | async }}</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="signUpForm.controls['dateOfBirth'].hasError('required')">
          {{ errorsMessages.dateOfBirth.required }}
        </mat-error>
        <mat-error *ngIf="signUpForm.controls['dateOfBirth'].hasError(customErrors.ValidDate)">
          {{ errorsMessages.dateOfBirth.validDate }}
        </mat-error>
      </mat-form-field>

      <mat-radio-group formControlName="gender" class="form__radio-group">
        <mat-radio-button value="male">Male</mat-radio-button>
        <mat-radio-button value="female">Female</mat-radio-button>
      </mat-radio-group>

      <mat-form-field>
        <mat-label>Country code</mat-label>
          <mat-select formControlName="countryCode">
            <mat-option *ngFor="let code of COUNTRY_INFO" [value]="code.dial_code">
              {{ code.name }} ({{ code.dial_code }})
            </mat-option>
          </mat-select>
          <mat-error *ngIf="signUpForm.controls['countryCode'].hasError('required')">
            {{ errorsMessages.countryCode.required}}
          </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Mobile phone number</mat-label>
        <input matInput formControlName="phoneNumber">
        <mat-error *ngIf="signUpForm.controls['phoneNumber'].hasError('required')">
          {{ errorsMessages.phoneNumber.required }}
        </mat-error>
        <mat-error *ngIf="signUpForm.controls['phoneNumber'].hasError('pattern')">
          {{ errorsMessages.phoneNumber.pattern }}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Citizenship</mat-label>
          <mat-select formControlName="citizenship">
            <mat-option *ngFor="let code of COUNTRY_INFO" [value]="code.name">
              {{ code.name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="signUpForm.controls['citizenship'].hasError('required')">
            {{ errorsMessages.citizenship.required }}
          </mat-error>
      </mat-form-field>

      <mat-checkbox formControlName="agreement" class="agreement">
        I agree to Airway's Privacy Policy and Terms of Use
      </mat-checkbox>

      <span *ngIf="error$ | async" class="error-message">{{ error$ | async }}</span>

      <button type="submit" mat-raised-button color="primary" [disabled]="signUpForm.invalid" class="form__button">Sign up</button>
    </form>
</mat-dialog-content>

