<footer class="footer">
  <div class="container footer-container">
    <span class="footer__copyrights">© 2023, AIRWAYS.
      <span *ngIf="(layout.isHandset$ | async) === false">All rights reserved.</span>
    </span>

    <div class="footer__payments payments">
      <span class="payments__title" *ngIf="(layout.isHandset$ | async) === false"> We accept these payment methods</span>

      <div class="payments__icons">
        <svg class="payments__icon">
          <use xlink:href="assets/icons/sprite.svg#master-card"></use>
        </svg>

        <svg class="payments__icon">
          <use xlink:href="assets/icons/sprite.svg#amazon-pay"></use>
        </svg>

        <svg class="payments__icon">
          <use xlink:href="assets/icons/sprite.svg#american-express"></use>
        </svg>

        <svg class="payments__icon">
          <use xlink:href="assets/icons/sprite.svg#visa"></use>
        </svg>
      </div>
    </div>
  </div>
</footer>
