<p>summary-page works!</p>
<div class="summary-title-wrapper">
  <mat-icon svgIcon="summary-icon"></mat-icon>
  <h2 class="summary-title">Summary</h2>
</div>

<div class="flight-data-container">
  <!-- <div class="flight-to-container flight-info-container">
    <div class="flight-details">
      <div class="flight-details-location"></div>
      <div class="flight-details-time"></div>
    </div>
    <div class="flight-passengers"></div>
  </div> -->

  <!-- <div class="flight-from-container flight-info-container">
    <div class="flight-details">
      <div class="flight-details-location"></div>
      <div class="flight-details-time"></div>
    </div>
    <div class="flight-passengers"></div>
  </div> -->
</div>

<div class="flight-prices-container"></div>