<app-search-summary [isSearchFormVisible]="isSearchFormVisible" (toggleSearchFormVisibilityEvent)="toggleSearchFormVisibility($event)"></app-search-summary>

<div class="container">

  <span *ngIf="isLoading$ | async">Loading...</span>

  <span class="error-message" *ngIf="error$ | async">{{ error$ | async }}</span>

  <div *ngIf="(isLoading$ | async) === false">
    <app-search-form *ngIf="isSearchFormVisible" (toggleSearchFormVisibilityEvent)="toggleSearchFormVisibility($event)"></app-search-form>

    <app-flight-selection
      [flightTypeIndex]="flightsTypes.OneWayTripFlight"
      (isFlightSelectedEvent)="toggleForwardFlightSelection($event)"
      *ngIf="(searchData$ | async)!.isOneWayTrip">
    </app-flight-selection>

    <app-flight-selection
      [flightTypeIndex]="flightsTypes.RoundTripForwardFlight"
      (isFlightSelectedEvent)="toggleForwardFlightSelection($event)"
      *ngIf="(searchData$ | async)!.isRoundTrip">
    </app-flight-selection>

    <app-flight-selection
      [flightTypeIndex]="flightsTypes.RoundTripReturnFlight"
      (isFlightSelectedEvent)="toggleReturnFlightSelection($event)"
      *ngIf="(searchData$ | async)!.isRoundTrip">
    </app-flight-selection>

    <p *ngIf="(isAuth$ | async) === false && (error$ | async) === null" class="error-message">
      You must be signed in the app to continue
    </p>

    <p *ngIf="!isNextStepAvailable() && (error$ | async) === null" class="error-message">
      You must select flights to continue
    </p>

    <div class="page-actions">
      <app-go-back-button></app-go-back-button>

      <button
        mat-raised-button
        color="primary"
        [disabled]="!isNextStepAvailable() || (isAuth$ | async) === false"
        (click)="saveSelectedFlights()">
        Continue
      </button>
    </div>
  </div>

</div>
