.form {
  width: 60%;
  min-height: 200px;
  background-color: beige;
  padding: 24px;

  &__control {
    display: flex;
    gap: 16px;
  }
}

.example-full-width {
  width: 100%;
}

.airport {

  &__info {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
  }

  &__subinfo {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #74767A;
  }
}