<div class="stepper" *ngIf="activeState >= 2 && activeState <= 4">
  <div class="step" *ngFor="let step of steps">

    <button mat-mini-fab [color]="isDone(step.number) || isActive(step.number) ? 'warn' : 'primary'" class="step__icon" [ngClass]="{'step-icon_future': isFuture(step.number)}">
      <mat-icon *ngIf="isDone(step.number)">done</mat-icon>
      <mat-icon *ngIf="isActive(step.number)">edit</mat-icon>
      <mat-icon [svgIcon]="step.icon" *ngIf="isFuture(step.number)"></mat-icon>
    </button>

    <span *ngIf="(layout.isSmall$ | async) === false">{{ step.label }}</span>

  </div>
</div>
