@import 'src/styles/abstracts/variables';

$form-gap: 40px;

.passengers-form {
  display: flex;
  flex-direction: column;
  gap: $form-gap;
}

.booking__title {
  color: $color-primary-blue;
  font-weight: bold;
  font-size: 24px;
  line-height: 100%;
  display: flex;
  gap: 0.5rem;
}

.passengers-form__subtitle {
  color: #49454F;
  font-size: 1rem;
  line-height: 1.5rem;

}

.form-section-container {
  background-color: #fff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 2rem 1.5rem;
}

.passengers-container {
  display: flex;
  flex-direction: column;
  gap: $form-gap;
}

.passenger-wrapper {
  display: flex;
  flex-direction: column;
  gap: calc($form-gap / 2);
}

.passenger__form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

.passenger__form_handset {
  * {
    width: 100%;
  }
}

.bag-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 2rem;
}

