<mat-dialog-content [formGroup]="loginForm" class="form">

  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput formControlName="email">
    <mat-error *ngIf="loginForm.controls['email'].hasError('required')">
      {{ errorsMessages.email.required }}
    </mat-error>
    <mat-error *ngIf="loginForm.controls['email'].hasError('email')">
      {{ errorsMessages.email.email }}
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput formControlName="password" [type]="isPasswordHidden ? 'password' : 'text'">
    <button mat-icon-button matSuffix (click)="isPasswordHidden = !isPasswordHidden" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="isPasswordHidden">
      <mat-icon>{{isPasswordHidden ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
      {{ errorsMessages.password.required }}
    </mat-error>
    <mat-error *ngIf="
      loginForm.controls['password'].hasError('minlength')
      || loginForm.controls['password'].hasError(customErrors.HasLettersUpperAndLowerCase)
      || loginForm.controls['password'].hasError(customErrors.HasNumber)
      || loginForm.controls['password'].hasError(customErrors.HasSpecialChar)
      ">
      {{ errorsMessages.password.strong.inform }}
    </mat-error>
    <mat-error *ngIf="loginForm.controls['password'].hasError('minlength')">
      {{ errorsMessages.password.strong.length }}
    </mat-error>
    <mat-error *ngIf="loginForm.controls['password'].hasError(customErrors.HasLettersUpperAndLowerCase)">
      {{ errorsMessages.password.strong.hasUpperCaseAndLowerCaseLetters }}
    </mat-error>
    <mat-error *ngIf="loginForm.controls['password'].hasError(customErrors.HasNumber)">
      {{  errorsMessages.password.strong.hasNumber }}
    </mat-error>
    <mat-error *ngIf="loginForm.controls['password'].hasError(customErrors.HasSpecialChar)">
      {{ errorsMessages.password.strong.hasSpecialChar }}
    </mat-error>
  </mat-form-field>

  <span *ngIf="error$ | async" class="error__message">{{ error$ | async }}</span>

</mat-dialog-content>

<mat-dialog-actions>
    <button type="submit" mat-raised-button (click)="onSubmit()" color="primary" [disabled]="loginForm.invalid" class="form__submit-button">Log in</button>
</mat-dialog-actions>
